body{
    font-family: sans-serif;
  }
  .container{
    max-width: 600px;
    margin: auto;
    font-size: 2.5em;
    letter-spacing: 1px;
    padding: 25px;
    
  }
  .container2{
    width: 100%;
    text-align: center;
    font-size: 77px;
    border-collapse: collapse;
    padding: 25px;
  }
  #months{
    height: 60px;
    width: 40%;
    margin-left: -100px;
    text-align: center;
  }
  #years{
    height: 60px;
    width: 40%;
    text-align: center;
  }
  table,th,td{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 17px;
    border-collapse: collapse;
    border: 1px solid;
  }
  tr,th,td{
    padding: 15px;
  }
  td:hover{
    background: green;
  }
  .container3 {
    width: 100%;
    font-size: 77px; 
  }
  #box1{
    height: 60px;
    width: 40%;
    text-align: center;
  }
  #box2{
    height: 60px;
    width: 30%;
  }
  .info {background-color: #0671c8;}